@*@Html.Partial("AddReview", new Review { RecipeId = Model.RecipeId });*@

<form class="form-inline ml-auto">
    <input type="text" class="searchTerm" placeholder="What are you looking for?">
    <button type="submit" class="searchButton">
        <i class="icon-search2"></i>
    </button>
</form>