@{
    Layout = "_Layout";
    ViewBag.Image = "url('/images/electricalHeader.jpg')";
    ViewBag.Title = "Electrical Services";
    ViewBag.PageName = "Electrical Services";
}

<section class="ftco-section bg-light">
    <div class="container text-center">
        <h2>Electrical Services</h2>
        <div class="row d-flex no-gutters">
            <div class="col-md-6 text-center">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">	Electrical Repairs</li>
                    <li class="list-group-item list-group-item-action">
                        Commercial Lighting and Heating Solutions
                    </li>
                    <li class="list-group-item list-group-item-action">Electric Water Heaters</li>
                    <li class="list-group-item list-group-item-action">Circuit Breaker Panel Wiring</li>
                    <li class="list-group-item list-group-item-action">Electrical Inspections</li>
                    <li class="list-group-item list-group-item-action">Safety Lighting Installations</li>
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">
                        Residential New Wiring
                    </li>
                    <li class="list-group-item list-group-item-action">Ceiling Fan Installations</li>
                    <li class="list-group-item list-group-item-action">
                        Electric Ballast Change
                    </li>
                    <li class="list-group-item list-group-item-action">Electric Switch Installations</li>
                    <li class="list-group-item list-group-item-action">Outdoor Lighting Fixture Installations</li>
                    <li class="list-group-item list-group-item-action">Other Services</li>
                </ul>
            </div>
            <div class="col-md-12 mt-3 text-center">
                <div class="form-group">
                    <button class="btn btn-primary py-3 px-5 text-center">Register for a service</button>
                </div>
            </div>
        </div>
    </div>
</section>