@{
    Layout = "_Layout";
    ViewBag.Image = "url('/images/heatingHeader.jpg')";
    ViewBag.Title = "Heating and A/C Services";
    ViewBag.PageName = "Heating & A/C";
}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 text-center">
                <h2>Heating Services</h2>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">Boiler Installation</li>
                    <li class="list-group-item list-group-item-action">Fireplace Installation</li>
                    <li class="list-group-item list-group-item-action">Gas Line Installation</li>
                    <li class="list-group-item list-group-item-action">Tankless Water Heater</li>
                    <li class="list-group-item list-group-item-action">Air Duct Cleaning</li>
                    <li class="list-group-item list-group-item-action">Maintaince Services</li>
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <h2>Air Conditioning Services</h2>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">Air Conditioning Installation</li>
                    <li class="list-group-item list-group-item-action">Air Conditioning Repair</li>
                    <li class="list-group-item list-group-item-action">Air Conditioning Service</li>
                </ul>
            </div>
            <div class="col-md-12 mt-3 text-center">
                <div class="form-group">
                    <button class="btn btn-primary py-3 px-5 text-center">Register for a service</button>
                </div>
            </div>
        </div>
    </div>
</section>