@{
    Layout = "_Layout";
    ViewBag.Image = "url('/images/plubmingHeader.jpg')";
    ViewBag.Title = "Plumbing Services";
    ViewBag.PageName = "Plumbing";
}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex no-gutters">
            <h2>Plumbing Services</h2>
            <div class="col-md-6 text-center">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">Leak Repair</li>
                    <li class="list-group-item list-group-item-action">Drain Cleaning</li>
                    <li class="list-group-item list-group-item-action">Toilet Repair</li>
                    <li class="list-group-item list-group-item-action">Garbage Disposal Repair</li>
                    <li class="list-group-item list-group-item-action">Water Heater Services</li>
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">Sewer Repair</li>
                    <li class="list-group-item list-group-item-action">Hydro Jetting</li>
                    <li class="list-group-item list-group-item-action">Dishwasher Installation</li>
                    <li class="list-group-item list-group-item-action">Washing Machine Installation</li>
                    <li class="list-group-item list-group-item-action">Other Services</li>
                </ul>
            </div>
            <div class="col-md-12 mt-3 text-center">
                <div class="form-group">
                    <button class="btn btn-primary py-3 px-5 text-center">Register for a service</button>
                </div>
            </div>
        </div>
    </div>
</section>